<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="code" src="{{ " /assets/img/iNews.jpg " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> iNEWS </h5>
      <li> Skills: AWS, Python</li>
      <p>Mobile application that uses a News API to fetch the latest news from sources including CNN and the New York Times
        and deliver it to the user; whether or not user is connected to the Internet.</p>
      <a class="project-link" href="https://www.youtube.com/watch?v=Fs2gekDDWo8">Demo</a> <a class="project-link" href="https://github.com/sauravmawandia/OfflineNews">Source Code</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="code" src="{{ " /assets/img/NYC_Crimes.jpg " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> ANALYZING NYPD COMPLAINT DATA (HISTORIC)</h5>
      <li> Skills: Hadoop, Apache Spark, SQL, Python, Pandas</li>
      <p>Analyzed NYPD Complaint data to uncover hidden patterns, unknown correlations, crime trends and other anomalies.
        Generated hypothesis based on revelations by correlating with datasets like Weather, census and employment data.</p>
      <a class="project-link" href="https://github.com/ab6995/BIG_DATA_Project">Source Code</a> <a class="project-link" href="https://drive.google.com/open?id=0B9CxnLfqgNFKRXl1UGNDdW1GR1U">Project Report</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="code" src="{{ " /assets/img/Untitled.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>YELP DATASET ANALYSIS</h5>
      <li> Skills: Python, Apache Spark, PigLatin, Hive, Map-Reduce, Docker</li>
      <p> Performed some basic statistics like summarizing reviews by city and category, ratings of businesses around University of
          Wisconsin-Madison, based on number of reviews on the dataset by executing scripts written in PigLatin and ApacheSpark
      </p>
      <a class="project-link" href="https://github.com/ab6995/Yelp_Dataset_Analysis">Source Code</a> <a class="project-link" href="https://drive.google.com/open?id=1UumLx9LrH0MA2I7jQhZCL2MSCD8XpwkS">Project Report</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="code" src="{{ " /assets/img/twitter.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> CLASSIFIERS TO IDENTIFY TWITTER ACCOUNTS AS BOTS OR NOT BOTS </h5>
      <li> Skills: Python, Scikit-learn, Pandas, Numpy, scipy</li>
      <p>A Built four classifiers (Multinomial Naive Bayes, Decision Trees, Logistic Regression and Random Forest) using python
          libraries pandas to train our model to predict twitter accounts as bots.Compared model’s accuracy from different classifiers we built.
      </p>
      <a class="project-link" href="https://github.com/heng2j/-Twitter-Account-Bot-or-not-Bot">Source Code</a> <a class="project-link" href="https://drive.google.com/open?id=1Gm70ZQqdLrbNIdPq-iVzDjcf1brPdyOp1GSFRYMaWQQ">Project Report</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="code" src="{{ " /assets/img/Analysis.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> ANALYZING TRAITS SHARED BETWEEN TWO TWITTER USERS </h5>
      <li> Skills: Python, Scikit-learn, watson_developer_cloud, Watson Personality Insights API </li>
      <p>Built a fully functional, Watson-powered application using Python to interact with the Twitter API and IBM's Personality Insights API in order to analyze traits shared between two Twitter users
         and Displayed the top 5 personality traits shared between two Twitter users
      </p>
      <a class="project-link" href="https://github.com/ab6995/IBM-WATSON-API-S">Source Code</a>
    </div>
  </div>
</div>
