@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(/assets/css/asr-visual.css);

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: color 0.2s ease, background 0.2s ease, border-color 0.2s ease;
}

.project-link {
  display: inline-block;
  width: auto;
  margin: 10px 0;
  padding: 8px 12px;
  color: #1a222c;
  background-color: transparent;
  border: 1px solid #1a222c;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.project-link:hover,
.project-link:active {
  background-color: #54516a;
  border-color: #54516a;
  color: #fff;
}

.footer {
  background: #1a222c;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #fff;
}

.footer a {
  text-decoration: none;
  color: #fff;
}
